<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos - Mon Blog</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>

    <!-- Navbar collée en haut -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/home">
            <img src="img/logo-transparent-png.png" alt="t" style="height: 70px;">
            <!-- Ajustez la hauteur selon vos besoins -->
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="btn btn-primary" href="/home">Introduction</a>
                </li>

                <li class="nav-item active">
                    <a class="btn btn-primary" href="/">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="/about">À propos</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Barre de progression -->
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>


    <!-- Contenu principal -->
    <div class="container mt-5 pt-5">
        <h1 class="mt-4">À propos de de l'entreprise</h1>
        <div class="row">
            <div class="col-md-12">
                <br>
                <p>Pour remetre un peu de contexte, Desautel et une entreprise dans la protection incendie. Cela va de
                    la
                    vente à la fabricaton d'exctincteur et de camions de pompiers, à travers le monde entiers.
                    <br><br>
                    Desautel compte plus de 27 agences en france et à l'internationale. Le siège est à Montluel et
                    comporte deux usines au alentour, à Nievroz et Meyzieu.
                    <br>
                    Dans le service informatique, il y a les techniciens qui s'occupe de divers problèmes des salariées
                    de toutes les agences, les développeurs qui s'occupent d'améliorer l'extranet et l'ERP de
                    l'entreprise. Et les chefs de projets.
                    <br><br>
                    Comme vous l'avez pu le comprendre dans l'Introduction, je suis donc allé dans la partie
                    developpement.
                </p>

            </div>
        </div>
    </div>

    <!-- Footer collé en bas -->
    <footer class="text-center text-lg-start fixed-bottom">
        <div class="text-center p-3">
            © 2024 Mon Blog:
            <a class="text-light" href="https://envel69.github.io">blog2024</a>
        </div>
    </footer>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <script src="/js/scripts.js"></script>
</body>

</html>