<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Mon Blog</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../public/css/styles.css" rel="stylesheet">
</head>

<body>

    <!-- Navbar collée en haut -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/home">
            <img src="../public/img/logo-transparent-png.png" alt="t" style="height: 70px;">
            <!-- Ajustez la hauteur selon vos besoins -->
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="btn btn-primary" href="../views/home">Introduction</a>
                </li>

                <li class="nav-item active">
                    <a class="btn btn-primary" href="../">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="../views/about">À propos</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="../views/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- Barre de progression -->
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>

    <!-- Contenu principal -->
    <div class="container mt-5 pt-5">
        <h1 class="mt-4">Contact</h1>
        <div class="row">
            <div class="col-md-6">
                <form action="/send-email" method="POST">
                    <div class="form-group">
                        <label for="name">Nom</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Votre nom" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Votre email"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" name="message" rows="5" placeholder="Votre message"
                            required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </form>

            </div>
        </div>
    </div>

    <!-- Footer collé en bas -->
    <footer class="text-center text-lg-start fixed-bottom">
        <div class="text-center p-3">
            © 2024 Mon Blog:
            <a class="text-light" href="https://envel69.github.io">blog2024</a>
        </div>
    </footer>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <script src="/js/scripts.js"></script>
</body>

</html>
