<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction - Mon Blog</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../public/css/styles.css" rel="stylesheet">
</head>

<body>

    <!-- Navbar collée en haut -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="https://envel69.github.io">
            <img src="../public/img/logo-transparent-png.png" alt="t" style="height: 70px;">
            <!-- Ajustez la hauteur selon vos besoins -->
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="btn btn-primary" href="../views/home">Introduction</a>
                </li>

                <li class="nav-item active">
                    <a class="btn btn-primary" href="/">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="../views/about">À propos</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="../views/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Barre de progression -->
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>


    <div class="container mt-5 pt-5">
        <h1 class="mt-4">Bienvenue sur Mon blog de Stage</h1>
        <div class="row">
            <div class="col-md-12">
                <p>Bienvenue sur mon blog ! Je m'appelle Envel RIGHINI, et j'ai l'opportunité dans la cadre de la fin de
                    ma deuxième
                    année de bachelor en informatique, à l'école Ynov Lyon, de faire un stage chez Desautel dans le
                    développement web.
                    <br>
                    J'ai commencé ce blog pour partager les idées, les projets, et mes réflexions sur mon stage.

                    <br>

                </p>

            </div>

        </div>
        <h1 class="mt-4">Présentation du Stage</h1>
        <div classe="row">
            <div class="col-md-12">
                <p>Pendant les 1er juillet jusqu'au 9 août, j'aurai la chance d'apprendre et de contribuer à divers
                    missions en tant que stagiaire dans le développement web.</p>
                <p>Pourquoi avoir choisi le developpement web ? C'est un domaine avec beaucoup de créativité. Le domaine
                    de la protection incendie m'a toujours interesé, c'est pourquoi je me suis tourné vers Desautel pour
                    effectuer mon stage. Si vous voulez en apprendre plus sur l'entreprise, je vous invite à vous rendre
                    dans la rubrique, <b>à propos</b>.</p>

            </div>
        </div>
    </div>


    <!-- Footer collé en bas -->
    <footer class="text-center text-lg-start fixed-bottom">
        <div class="text-center p-3">
            © 2024 Mon Blog:
            <a class="text-light" href="https://envel69.github.io">blog2024</a>
        </div>
    </footer>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <script src="/js/scripts.js"></script>
</body>

</html>
